Repository alvarobcprado/animes_app, pull requests merged in 2023-01, with the labels that each got.

#60 Test/add home repository tests
  modules/core/lib/dependencies/testing.dart
  modules/core/pubspec.yaml
  modules/feature_home/pubspec.yaml
  modules/feature_home/test/helper_models.dart
  modules/feature_home/test/src/domain/repositories/anime_repository_test.dart
  modules/navigation/pubspec.yaml
Labels: feature-home-module, tests, core-module

#62 Feature/add login page
  assets/images/img_logo.png
  lib/main.dart
  modules/core/lib/core.dart
  modules/core/lib/src/images/images.dart
  modules/core/lib/src/utils/string_extensions.dart
  modules/dependency_injection/lib/src/general_provider.dart
  modules/dependency_injection/lib/src/modules/feature_auth/feature_auth_providers.dart
  modules/dependency_injection/lib/src/modules/feature_auth/stores.dart
  modules/dependency_injection/lib/src/modules/feature_auth/use_cases_provider.dart
  modules/design_system/lib/src/foundations/typography.dart
  modules/design_system/lib/src/molecules/button_primary.dart
  modules/design_system/lib/src/molecules/molecules.dart
  modules/design_system/lib/src/molecules/text_field_primary.dart
  modules/design_system/lib/src/tokens/typography.dart
  modules/feature_auth/l10n.yaml
  modules/feature_auth/lib/feature_auth.dart
  modules/feature_auth/lib/generated/auth_strings.dart
  modules/feature_auth/lib/generated/auth_strings_en.dart
  modules/feature_auth/lib/generated/auth_strings_pt.dart
  modules/feature_auth/lib/l10n/auth_en.arb
  modules/feature_auth/lib/l10n/auth_pt.arb
  modules/feature_auth/lib/src/domain/models/input_status.dart
  modules/feature_auth/lib/src/domain/models/models.dart
  modules/feature_auth/lib/src/domain/models/user.dart
  modules/feature_auth/lib/src/domain/use_cases/use_cases.dart
  modules/feature_auth/lib/src/domain/use_cases/validate_user_email_use_case.dart
  modules/feature_auth/lib/src/domain/use_cases/validate_user_name_use_case.dart
  modules/feature_auth/lib/src/presentation/auth_controller.dart
  modules/feature_auth/lib/src/presentation/auth_state.dart
  modules/feature_auth/lib/src/presentation/auth_state.freezed.dart
  modules/feature_auth/lib/src/presentation/login_page.dart
  modules/feature_auth/lib/src/presentation/stores/auth_store.dart
  modules/feature_auth/lib/src/presentation/stores/stores.dart
  modules/feature_auth/pubspec.yaml
  pubspec.yaml
  widgetbook/molecules/text_field_primary_component.dart
  widgetbook/widgetbook.dart
Labels: design-system-module, dependency-injection-module, app-module, core-module

#63 feat: add use cases tests
  modules/feature_home/test/helper_models.dart
  modules/feature_home/test/src/domain/use_cases/get_anime_by_genre_use_case_test.dart
  modules/feature_home/test/src/domain/use_cases/get_anime_details_use_case_test.dart
  modules/feature_home/test/src/domain/use_cases/get_anime_genres_use_case_test.dart
  modules/feature_home/test/src/domain/use_cases/get_anime_list_use_case_test.dart
  modules/feature_home/test/src/domain/use_cases/get_favorite_animes_use_case_test.dart
  modules/feature_home/test/src/domain/use_cases/get_searched_anime_list_use_case_test.dart
Labels: feature-home-module, tests
